/*
    Name: Zane C. Milakovic
    Date: 10/21/2015
    File: president_table.css
*/

@namespace president url(http://www.du.edu/~mschwart/xml/president);

president|president {
 display: block; 
 width: 600px ;
 font-size: 10pt; 
 padding: 10px; 
 margin: 4px; 
 border-width: 1px;
 border-style:groove;
 border-color: black;
 background: lightblue; 
}

president\:president {
 display: block; 
 width: 600px ;
 font-size: 10pt; 
 padding: 10px; 
 margin: 4px; 
 border-width: 1px;
 border-style:groove;
 border-color: black;
 background: lightblue; 
}

president|name { display:block; font-family: roman, 'times new roman', times, serif; font-size: 16pt; font-weight: bold;  }

president\:name { display:block; font-family: roman, 'times new roman', times, serif; font-size: 16pt; font-weight: bold;  }

president|took_office, left_office { display:list-item; margin-left: 16px; }

president\:took_office, left_office { display:list-item; margin-left: 16px; }

president|party { display: block; font-family:roman, 'times new roman', times, serif; font-size: 12pt; font-style: italic; }

president\:party { display: block; font-family:roman, 'times new roman', times, serif; font-size: 12pt; font-style: italic; }

president|vice_president { display: block; font-family: roman, 'times new roman', times, serif; font-weight: bold; font-size: 12pt;  }

president\:vice_president { display: block; font-family: roman, 'times new roman', times, serif; font-weight: bold; font-size: 12pt;  }

president|number { display: none; }

president\:number { display: none; }

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

table td,
table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}


table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

table tbody tr {
    background-color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.vice_presidents {
    width: 100%;
}

.number {
    width: 1em;
    text-align: center;
}

.whig { 
    color: #0982b3;
    background-color: #d9edf7;
}

.democratic { 
    color: #42b007;
    background-color: #dff0d8;
}

.republican { 
    color: #c72222;
    background-color: #f2dede;
}

.democratic-republican { 
    color: #a117d4;
    background-color: #e3c0f0;
}

.no-party { 
    color: #eb8a02;
    background-color: #fcddb1;
}

.federalist { 
    color: #aba507;
    background-color: #fcf8e3;
}